@tailwind base;
@tailwind components;
@tailwind utilities;

.paper-texture {
  background-color: #fdfaf1;
  background-image: url("https://www.transparenttextures.com/patterns/sandpaper.png");
  background-blend-mode: multiply;
}

.gutter-shadow {
  background: linear-gradient(to right,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0.05) 35%,
    rgba(0,0,0,0.15) 50%,
    rgba(0,0,0,0.05) 65%,
    rgba(0,0,0,0) 100%);
}

.page-curl-left {
  box-shadow: inset -15px 0 30px -15px rgba(0,0,0,0.1);
}

.page-curl-right {
  box-shadow: inset 15px 0 30px -15px rgba(0,0,0,0.1);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
}

.custom-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
